html,
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	background: linear-gradient(to right, #c9f8d8a3, #ffd4d4);
	min-width: fit-content;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding-inline: 12em;
	padding-left: 20%;
	margin-bottom: 80px;
	box-shadow: 0px 0px 9px 2px black;
}

nav > a > img {
	width: 100px;
}
nav > ul {
	display: flex;
	align-items: center;
	margin: 10px;
	gap: 20px;
	list-style-type: none;
}
ul > li {
	padding: 10px;
	transition: transform 0.3s ease;
}

ul > li:hover {
	transform: scale(1.1);
}
ul > li > a {
	text-decoration: none;
	font-size: larger;
	color: brown;
}
/* ul > li > a:hover {
	/* color: #ff0000a1; } */
ul > li > button {
	border: none;
	height: 31px;
	border-radius: 5px;
	width: 5rem;
	font-size: larger;
}

ul > li > button:hover {
	box-shadow: 0px 3px 12px 2px black;
}

.restaurants {
	display: flex;
	flex-wrap: wrap;
	/* margin-left: 50px; */
	justify-content: center;
}

.shimmerCard {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 263px;
	margin: 37px;
	margin-bottom: 3em;
	/* border: 1px solid black; */
	background-color: #ddd6d673;
	padding: 10px;
	padding-bottom: 0px;
	height: 16em;
}

.shimmerCard * {
	background-color: #f1ebeb;
}
.errorText {
	margin: 3em auto;
	font-family: auto;
	color: cadetblue;
}

.restaurantCard {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 227px;
	margin: 37px;
	min-height: 21em;
	margin-bottom: 3em;
	/* border: 1px solid black; */
	background-color: #ffffff8c;
	padding: 17px;
	padding-bottom: 0px;
	padding-top: 4px;
	border-bottom: 1px solid black;
	border-radius: 10px;
	transition: transform 0.3s ease;

	/* border-radius: 10px; */
	/* border-bottom-style: solid; */
}
.restaurantCard:hover {
	/* box-shadow: -1px 4px 17px 3px black; */
	transform: scale(1.1);
}
.restaurantCard > img {
	height: 10em;
	width: 15em;
	margin: -6px;
}

.restaurants > a {
	text-decoration: auto;
	color: black;
}

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

input {
	padding: 10px;
	width: 18rem;
	border-radius: 30px;
}

.searchBtn {
	margin: 10px;
	height: 36px;
}
.card-bottom {
	display: flex;
	font-size: 18px;
	margin-bottom: -26px;
	justify-content: space-between;
}
h5 {
	background-color: #ff1414;
	width: 36px;
	color: white;

	font-size: 13px;
	margin-bottom: 25px;
	padding: 2px;
	border-radius: 6px;
}
.restaurantCard h3 {
	margin-top: 0px;
	font-family: math;
	font-size: 21px;
}

/* Shimmer Menu Card CSS Start */

.restaurant-summary .shimmer-img {
	width: 118px;
}

.shimmer-menu-card {
	display: flex;
	justify-content: space-evenly;
	width: 53em;
	border-radius: 7px;
	padding: 12px;
	margin-bottom: 10px;
	border-color: #e4e8f9;
	box-shadow: 0px 5px 7px 2px rgb(0 0 0 / 93%);
	background: #e5e5e5a6;
	margin: 14px -11px;
}
.shimmer-item-details {
	width: 438px;
	background: #d7d7d75e;
}

.shimmer-img-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 118px;
	height: 150px;
	background: #d7d7d75e;
}
.shimmer-img-wrapper .shimmer-img {
	height: 96px;
}

.shimmer-img-wrapper .shimmer-btn {
	width: 94px;
	height: 34px;
	margin-top: 10px;
}

.shimmer-w60 {
	width: 60%;
	margin-top: 10px;
}

.shimmer-w40 {
	width: 40%;
	margin-top: 10px;
}

.shimmer-w20 {
	width: 20%;
	margin-top: 4px;
}
/* Shimmer Menu Card CSS End */

/* restaurant menu css */
.restaurant-menu {
	margin-top: -76px;
	min-height: 80vh;
	width: auto;
}
.restaurant-summary {
	margin: 0px auto;
	padding: 10px;
	display: flex;
	height: 200px;
	gap: 36px;
	justify-content: center;
	align-items: center;
	background-color: var(--light-black);
	color: var(--white);
	box-shadow: 1px 1px 15px black;
	background: #000000;
}
.restaurant-img {
	width: 250px;
	height: 100%;
	border-radius: 5px;
}
.restaurant-summary-details {
	display: flex;
	flex-direction: column;
	flex-basis: 520px;
	margin: 10px;
	gap: 48px;
}
.restaurant-title {
	font-size: 28px;
	max-width: 540px;
	font-weight: 600;
	margin-top: 32px;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.restaurant-tags {
	white-space: nowrap;
	color: whitesmoke;
	opacity: 0.7;
	font-size: 15px;
	max-width: 540px;
}
.restaurant-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	padding-bottom: 10px;
	color: white;
	font-weight: 600;
	font-size: 16px;
	max-width: 340px;
}

.restaurant-details > span {
	background: red;
	padding: 1px;
	width: 51px;
}
.restaurant-rating {
	display: flex;

	padding: 0px 6px;
	gap: 0px;
	background-color: white;
}

.restaurant-menu-content {
	display: flex;
	justify-content: center;
}

.menu-items-container {
	margin-top: 30px;
	width: 850px;
}
.menu-title-wrap {
	padding: 0px;
}
.menu-count {
	margin-top: 14px;
	line-height: 1.3;
	color: rgba(40, 44, 63, 0.45);
	letter-spacing: -0.3px;
	font-size: 1rem;
}

.menu-items-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	max-height: 250px;
	padding: 20px;
	border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
	/* background: #f0e8e869; */
	margin-bottom: 14px;
	/* border: 1px solid black; */
	border-radius: 3px;
	/* box-shadow: 1px 1px 10px black; */
	background: #d0f0ff4a;
	border-bottom: 1px solid black; /* background: linear-gradient(to right, #c4c4c408, #ffffff); */
}
.menu-item:hover {
	box-shadow: 1px 1px 10px black;
}
.menu-item-details {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	overflow: hidden;
}

.item-title {
	width: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-desc {
	margin-top: 14px;
	line-height: 1.3;
	color: rgb(0 0 0 / 61%);
	width: 60%;
	letter-spacing: -0.3px;
	font-size: 14px;
	font-family: inherit;
}
.item-cost {
	margin-top: 4px;
	font-size: 1rem;
	font-weight: 700;
	color: #ff1100;
	width: 40%;
}

.menu-img-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.menu-item-img {
	height: 100px;
	width: 100px;
	border-radius: 5px;
}
.add-btn {
	color: white;
	padding: 6px 27px;
	cursor: pointer;
	outline: none;
	border-color: var(--dark-orange);
	margin-top: 10px;
	border-radius: 5px;
	background: #ff0000;
}

.menu-title {
	font-size: 38px;
	/* color: black; */
	/* text-shadow: -3px 9px 8px black; */
	font-family: serif;
}

/* Restaurant Menu End Start */

.error-page {
	text-align: center;
	margin: 10% auto;
	padding: 10px;
	/* background: #00000061; */
	/* color: black; */
	border-radius: 18px;
	width: fit-content;
	box-shadow: 1px 1px 18px 3px black;
}

.quantity-container {
	display: flex;

	width: 32%;
	margin: 0px auto;
	margin-top: 10px;
	gap: 7px;
}

.plus-btn {
	border: none;
	background-color: rgb(47, 255, 75);
	color: white;
}

.plus-btn:hover {
	box-shadow: 1px 1px 6px black;
}
.minus-btn {
	border: none;
	background-color: red;
	color: white;
}
.minus-btn:hover {
	box-shadow: 1px 1px 6px black;
}

.cartItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 38%;
	margin: 17px auto;
	padding: 10px;

	border-radius: 13px;
}
.cartCount {
	text-align: center;
	/* margin: 0px auto; */
	/* margin-top: -3%; */
	color: white;
	background: #000000;
	width: 10%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 35px;
}
.cart > h2 {
	text-align: center;
	margin-top: 8%;
	font-size: xx-large;
}
.cart > h3 {
	text-align: center;
	border: 1px solid;
	margin: 10px auto 120px auto;
	width: 11%;
	padding: 15px;
	color: red;
}

.itemCardContainer {
	display: flex;
	justify-content: space-between;
	padding: 14px;
	width: 94%;
	background: #7fffd461;
	border: 1px solid white;
	border-radius: 10px;
	margin: 10px;
}
.itemCardContainer > p {
	font: small-caption;
	font: small-caption;
	/* border-left: 1px solid; */
	padding-top: 4%;
	padding-left: 14px;
}

.itemDetails {
	min-width: 117px;
	padding-left: 20px;
	border-left: 1px solid;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-block: 20px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: auto;
	width: 100%;
}

.noBorder {
	border: none;
}

.aboutimg {
	width: 100%;
	height: 100vh;
	margin: 0px auto;
	margin-top: -78px;
	image-rendering: pixelated;
}
.footer > h3 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart-top {
	display: flex;
	justify-content: flex-end;
	gap: 37%;
	padding-inline: 32%;
	/* margin-right: 100px; */
	border-bottom: 2px solid;
}

.cart-top > button {
	/* height: 46px; */
	margin: auto 0px;
	border: none;
	background: transparent;
	/* color: #dd00ff; */
	padding: 2px;
	font-size: 35px;
	border-radius: 10px;
	/* border: 1px solid; */
	border-radius: 29px;
}
.cart-top > button:hover {
	box-shadow: 0px 4px 11px #a30b0b;
}

/* contact.css */

#contact-container {
	width: 84%;
	box-shadow: 1px 1px 14px black;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0px auto;
	background: blanchedalmond;
}

#contact-form-container {
	flex: 1;
	text-align: -webkit-center;
}

#contact-form {
	width: 57%;
	display: grid;
	grid-template-columns: 1fr;
	padding: 46px;
	/* margin-top: 28px; */
	gap: 10px;
}

#contact-form > input {
	padding: 12px;
	width: 29rem;
	border: none;
	border-radius: 7px;
}

.form-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

#input-message {
	resize: vertical;
	font-family: emoji;
	height: 87px;
	border-radius: 10px;
}

.sub-btn {
	padding: 10px 20px;
	background-color: #2857a4;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

#my-details-container {
	flex: 1 1;
	padding: 15px 9%;
}

#my-details-container > h4 {
	font-size: larger;
}
#my-details-container > p > a {
	color: rgb(255 0 0);
	text-decoration: auto;
}
#my-details-container > p {
	font-family: auto;
}

.my-details-info-container {
	margin-bottom: 10px;
	font-family: auto;
}

.my-details-info-container i {
	margin-right: 10px;
}

.text-center {
	text-align: center;
}

.social-icons {
	margin-top: 20px;
}

.horizontal-list {
	list-style: none;
	padding: 0;
	margin: 20px;
	display: flex;
	gap: 56px;
	justify-content: center;
}

.horizontal-list li {
	margin: 0 5px;
}

.horizontal-list li:hover {
	box-shadow: 1px 1px 11px black;
	border-radius: 33px;
}

.horizontal-list li a img {
	width: 30px;
	height: 30px;
}

/* Additional styling can be added as per your requirements */

@media screen and (max-width: 800px) {
	.menu-items-list {
		width: 80%;
		margin: 0px auto;
	}
	.searchBar {
		width: 80%;
		margin: 0px auto;
	}

	.restaurant-summary {
		padding-left: 97px;
	}
	nav {
		display: flex;

		background-color: white;

		margin-bottom: 80px;
		justify-content: center;
		gap: 60px;
	}
	.restaurants {
		margin-left: 10px;
	}
	.cartItems {
		width: 70%;
	}

	.cart > h3 {
		/* text-align: center; */
		/* border: 1px solid; */
		/* margin: 10px auto 120px auto; */
		width: 19%;
		/* padding: 15px; */
		/* color: red; */
	}
	.cart-top {
		gap: 100%;
	}

	.footer {
		display: none;
	}

	.aboutimg {
		margin: auto 0px;
	}

	#contact-container {
		flex-wrap: wrap;
	}

	#contact-form {
		width: 80%;
	}
	#contact-form > input {
		padding: 19px;
		width: 35rem;
		/* border: none; */
		/* border-radius: 7px; */
	}

	.card-bottom {
		/* display: flex; */
		font-size: 14px;
		margin-bottom: -24px;
		/* justify-content: space-between; */
		/* padding-inline: 0px; */
	}
	.restaurantCard {
		/* display: flex;
		flex-direction: column;
		justify-content: space-around; */
		width: 168px;
		margin: 37px;
		min-height: 19em;
		margin-bottom: 0px;
		/* border: 1px solid black; */
		/* background-color: #ffffff8c; */
		padding: 16px;
		padding-bottom: 0px;
		padding-top: 4px;
		/* border-bottom: 1px solid black;
		border-radius: 10px;
		transition: transform 0.3s ease; */
		/* border-radius: 10px; */
		/* border-bottom-style: solid; */
	}
	.restaurantCard h3 {
		/* margin-top: 0px;
		font-family: math; */
		font-size: 17px;
	}
	.restaurantCard > img {
		height: 156px;
		width: -webkit-fill-available;
		margin: -11px;
	}
}
