body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* fallback for old browsers */
	background: linear-gradient(to right, #c9f8d8a3, #ffd4d4);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding-inline: 12em;
	padding-left: 20%;
	margin-bottom: 80px;
	box-shadow: 0px 0px 9px 2px black;
}

nav > a > img {
	width: 100px;
}
nav > ul {
	display: flex;
	align-items: center;
	margin: 10px;
	gap: 20px;
	list-style-type: none;
}
ul > li {
	padding: 10px;
}

ul > li > a {
	text-decoration: none;
	font-size: larger;
	color: brown;
}
ul > li > a:hover {
	color: #ff0000a1;
}
ul > li > button {
	border: none;
	height: 31px;
	border-radius: 5px;
	width: 5rem;
	font-size: larger;
}

ul > li > button:hover {
	box-shadow: 0px 3px 12px 2px black;
}

.restaurants {
	display: flex;
	flex-wrap: wrap;
	margin-left: 50px;
}

.shimmerCard {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 263px;
	margin: 37px;
	margin-bottom: 3em;
	/* border: 1px solid black; */
	background-color: #ddd6d673;
	padding: 10px;
	padding-bottom: 0px;
	height: 16em;
}

.shimmerCard * {
	background-color: #f1ebeb;
}
.errorText {
	margin: 3em auto;
	font-family: auto;
	color: cadetblue;
}

.restaurantCard {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 263px;
	margin: 37px;
	min-height: 24em;
	margin-bottom: 3em;
	/* border: 1px solid black; */
	background-color: #ffffff8c;
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;

	/* border-radius: 10px; */
	border-bottom-style: solid;
}
.restaurantCard:hover {
	box-shadow: -1px 4px 17px 3px black;
}
.restaurantCard > img {
	height: 14em;
	margin: -6px;
}

.restaurants > a {
	text-decoration: auto;
	color: black;
}

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

input {
	padding: 10px;
	width: 18rem;
	border-radius: 30px;
}

.searchBtn {
	margin: 10px;
	height: 36px;
}

h5 {
	margin: 0px;
	/* background-color: #ff1414; */
	width: 60px;
	color: red;
	font-size: 15px;
	padding-left: 2px;
	margin-bottom: 11px;
}

/* Shimmer Menu Card CSS Start */

.restaurant-summary .shimmer-img {
	width: 118px;
}

.shimmer-menu-card {
	display: flex;
	justify-content: space-evenly;
	width: 53em;
	border-radius: 7px;
	padding: 12px;
	margin-bottom: 10px;
	border-color: #e4e8f9;
	box-shadow: 0px 5px 7px 2px rgb(0 0 0 / 93%);
	background: #e5e5e5a6;
	margin: 14px -11px;
}
.shimmer-item-details {
	width: 438px;
	background: #d7d7d75e;
}

.shimmer-img-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 118px;
	height: 150px;
	background: #d7d7d75e;
}
.shimmer-img-wrapper .shimmer-img {
	height: 96px;
}

.shimmer-img-wrapper .shimmer-btn {
	width: 94px;
	height: 34px;
	margin-top: 10px;
}

.shimmer-w60 {
	width: 60%;
	margin-top: 10px;
}

.shimmer-w40 {
	width: 40%;
	margin-top: 10px;
}

.shimmer-w20 {
	width: 20%;
	margin-top: 4px;
}
/* Shimmer Menu Card CSS End */

/* restaurant menu css */
.restaurant-menu {
	margin-top: 80px;
	min-height: 80vh;
	width: auto;
}
.restaurant-summary {
	width: 58%;
	margin: 0px auto;
	padding: 10px;
	display: flex;
	height: 240px;
	gap: 36px;
	/* justify-content: space-around; */
	align-items: center;
	background-color: var(--light-black);
	color: var(--white);
	box-shadow: 1px 1px 15px black;
	background: #d6f4a6;
	border-radius: 10px;
}
.restaurant-img {
	width: 250px;
	height: 100%;
	border-radius: 5px;
}
.restaurant-summary-details {
	display: flex;
	flex-direction: column;
	flex-basis: 520px;
	margin: 10px;
	gap: 48px;
}
.restaurant-title {
	font-size: 40px;
	max-width: 540px;
	font-weight: 600;
	margin-top: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.restaurant-tags {
	white-space: nowrap;
	color: inherit;
	opacity: 0.7;
	font-size: 15px;
	max-width: 540px;
}
.restaurant-details {
	display: flex;
	margin-top: 18px;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	padding-bottom: 10px;
	color: inherit;
	font-weight: 600;
	font-size: 16px;
	max-width: 340px;
}
.restaurant-rating {
	display: flex;
	align-items: center;
	padding: 5px 8px;
	gap: 5px;
	background-color: var(--dark-green);
	border-radius: 5px;
}

.restaurant-menu-content {
	display: flex;
	justify-content: center;
}

.menu-items-container {
	margin-top: 30px;
	width: 850px;
}
.menu-title-wrap {
	padding: 0px;
}
.menu-count {
	margin-top: 14px;
	line-height: 1.3;
	color: rgba(40, 44, 63, 0.45);
	letter-spacing: -0.3px;
	font-size: 1rem;
}

.menu-items-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	max-height: 250px;
	padding: 20px;
	border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
	/* background: #f0e8e869; */
	margin-bottom: 14px;
	/* border: 1px solid black; */
	border-radius: 7px;
	/* box-shadow: 1px 1px 10px black; */
	background: #a9ff7438;
	/* background: linear-gradient(to right, #c4c4c408, #ffffff); */
}
.menu-item:hover {
	box-shadow: 1px 1px 10px black;
}
.menu-item-details {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	overflow: hidden;
}

.item-title {
	width: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-desc {
	margin-top: 14px;
	line-height: 1.3;
	color: rgb(0 0 0 / 61%);
	width: 60%;
	letter-spacing: -0.3px;
	font-size: 14px;
	font-family: inherit;
}
.item-cost {
	margin-top: 4px;
	font-size: 1rem;
	font-weight: 700;
	color: #ff1100;
	width: 40%;
}

.menu-img-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 200px;
	overflow: hidden;
}
.menu-item-img {
	height: 100px;
	width: 100px;
	border-radius: 5px;
}
.add-btn {
	color: var(--text-color);
	padding: 8px 25px;
	cursor: pointer;
	outline: none;
	border-color: var(--dark-orange);
	margin-top: 10px;
	border-radius: 5px;
	background: floralwhite;
}

.menu-title {
	font-size: 38px;
	/* color: black; */
	/* text-shadow: -3px 9px 8px black; */
	font-family: serif;
}

/* Restaurant Menu End Start */

.error-page {
	text-align: center;
	margin: 10% auto;
	padding: 10px;
	/* background: #00000061; */
	/* color: black; */
	border-radius: 18px;
	width: fit-content;
	box-shadow: 1px 1px 18px 3px black;
}
